@charset "UTF-8";

@font-face {
    font-family: Comfortaa;
    src: url('assets/fonts/comfortaa.ttf');
}

/* @formatter:off */
:root {
    --base        : 0, 0, 0;
    --mantle      : 0, 0, 0;
    --crust       : 0, 0, 0;
    --text        : 0, 0, 0;
    --pink        : 0, 0, 0;
    --purple      : 0, 0, 0;
    --red         : 0, 0, 0;
    --light_red   : 0, 0, 0;
    --orange      : 0, 0, 0;
    --yellow      : 0, 0, 0;
    --green       : 0, 0, 0;
    --light_green : 0, 0, 0;
    --blue        : 0, 0, 0;
    --light_blue  : 0, 0, 0;
}
/* @formatter:on */

html * {
    font-family: Comfortaa, 'Verdana Pro', 'Verdana', 'Courier New', Courier, monospace;
    color: rgb(var(--text));
    scrollbar-color: rgb(var(--blue)) rgb(var(--mantle));
    scrollbar-width: auto;
    z-index: 1 !important;
}

.profile-bio {
    text-align: left;
}

canvas {
    background-color: var(--base);
    display: block !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    z-index: 0 !important;
}

rect {
    shape-rendering: geometricPrecision;
    fill-opacity: 0.1;
    stroke: black;
    stroke-width: 2px;
    stroke-opacity: 1.0;
}

::-webkit-scrollbar-track {
    background-color: rgb(var(--mantle));
    border-radius: 50%;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(var(--blue));
    border-radius: 50%;
}

body {
    background-color: rgba(var(--base), 1.0);
    z-index: -1;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: max-content;
}

::-moz-selection {
    background: rgba(var(--blue), 0.3125);
    color: rgb(var(--text));
}

::selection {
    background: rgba(var(--blue), 0.3125);
    color: rgb(var(--text));
}


#cards {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 16px);
    margin: 0px;
    overflow: auto;
}

#left-cards {
    background-color: rgba(255, 0, 0, 0.1);
    overflow: auto;
}

#contents {
    background-color: rgba(0, 255, 0, 0.1);
    overflow: auto;
}

#right-cards {
    background-color: rgba(0, 0, 255, 0.1);
    overflow: auto;
}

/* width bigger */
@media (orientation: landscape) {
    #cards {
        flex-direction: row;
        flex-flow: wrap;
    }

    #left-cards {
        height: 100%;
        width: auto;
    }

    #contents {
        height: 100%;
        width: auto;
    }

    #right-cards {
        height: 100%;
        width: auto;
    }
}

/* height bigger */
@media (orientation: portrait) {
    #cards {
        flex-direction: column;
        flex-flow: column;
    }

    #left-cards {
        width: 100%;
        height: auto;
    }

    #contents {
        width: 100%;
        height: auto;
    }

    #right-cards {
        width: 100%;
        height: auto;
    }
}
