@charset "UTF-8";
/* base - start */

@font-face {
    font-family: Comfortaa;
    src: url('assets/fonts/comfortaa.ttf');
}

/* @formatter:off */
:root {
	--accent: 	198, 160, 246; /* #c6a0f6 */
	--text: 	202, 211, 245; /* #cad3f5 */
	--sub-text: 184, 192, 224; /* #b8c0e0 */
	--base: 	 36,  39,  58; /* #24273a */
	--mantle: 	 30,  32,  48; /* #1e2030 */
	--crust: 	 24,  25,  38; /* #181926 */
} /* https://github.com/catppuccin/catppuccin | macchiato */
/* @formatter:on */

html * {
    font-family: Comfortaa, 'Courier New', Courier, monospace;
    color: rgb(var(--text));
    scrollbar-color: rgb(var(--accent)) rgb(var(--mantle));
    scrollbar-width: auto;
}

rect {
    shape-rendering: geometricPrecision;
    fill-opacity: 0.1;
    stroke: black;
    stroke-width: 2px;
    stroke-opacity: 1.0;
}

::-webkit-scrollbar-track {
    background-color: rgb(var(--mantle));
    border-radius: 50%;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(var(--accent));
    border-radius: 50%;
}

body {
    background-color: rgb(var(--base));
}

main {
    display: flex;
    width: fit-content;
    height: calc(100vh - 84px);
}

::-moz-selection {
    background: rgba(var(--accent), 0.3125);
    color: rgb(var(--sub-text));
}

::selection {
    background: rgba(var(--accent), 0.3125);
    color: rgb(var(--sub-text));
}

/* base - end */


/* useful stuff - start */

/* @formatter:off */
.no-break 	{ white-space: nowrap; }
.no-break * { display:     inline; }
/* @formatter:on */

/* useful stuff - end */

.flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgba(var(--mantle), 0.3125);
    filter: drop-shadow(0 0 20px #1b5e20);

    border-style: wave;
    border-radius: 4px;
    animation: header_hover_in 0.3125s forwards;
}

/* header stuff - start */

.header:before {
    animation: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(var(--mantle));

    border-style: wave;
    border-radius: 4px;
    animation: header_hover_in 0.3125s forwards;
}

.header:hover {
    animation: header_hover_out 0.6125s forwards;
}

@keyframes header_hover_in {
    from {
        box-shadow: -1px -1px 2px rgba(var(--accent), 0.45),
        1px -1px 2px rgba(var(--accent), 0.45),
        -1px 1px 2px rgba(var(--accent), 0.45),
        1px 1px 2px rgba(var(--accent), 0.45);
    }
    to {
        box-shadow: -1px -1px 2px rgba(var(--crust), 1.0),
        1px -1px 2px rgba(var(--crust), 1.0),
        -1px 1px 2px rgba(var(--crust), 1.0),
        1px 1px 2px rgba(var(--crust), 1.0);
    }
}

@keyframes header_hover_out {
    from {
        box-shadow: -1px -1px 2px rgba(var(--crust), 1.0),
        1px -1px 2px rgba(var(--crust), 1.0),
        -1px 1px 2px rgba(var(--crust), 1.0),
        1px 1px 2px rgba(var(--crust), 1.0);
    }
    to {
        box-shadow: -1px -1px 2px rgba(var(--accent), 0.45),
        1px -1px 2px rgba(var(--accent), 0.45),
        -1px 1px 2px rgba(var(--accent), 0.45),
        1px 1px 2px rgba(var(--accent), 0.45);
    }
}

.header_logo {
    margin-left: 12px;
}

.header_buttons {
    margin-right: 12px;
}

.header_buttons button {
    border-radius: 4%;
    background-color: rgb(var(--base));
    border: 2px solid rgb(var(--crust));
    animation: header_buttons_hover_out 0.45s forwards;
}

.header_buttons button:hover {
    box-shadow: -1px -1px 2px rgba(var(--accent), 0.45),
    1px -1px 2px rgba(var(--accent), 0.45),
    -1px 1px 2px rgba(var(--accent), 0.45),
    1px 1px 2px rgba(var(--accent), 0.45);
    animation: header_buttons_hover_in 0.45s forwards;
}

@keyframes header_buttons_hover_in {
    from {
        box-shadow: -1px -1px 2px rgba(var(--accent), 0.0),
        1px -1px 2px rgba(var(--accent), 0.0),
        -1px 1px 2px rgba(var(--accent), 0.0),
        1px 1px 2px rgba(var(--accent), 0.0);
    }
    to {
        box-shadow: -1px -1px 2px rgba(var(--accent), 0.45),
        1px -1px 2px rgba(var(--accent), 0.45),
        -1px 1px 2px rgba(var(--accent), 0.45),
        1px 1px 2px rgba(var(--accent), 0.45);
    }
}

@keyframes header_buttons_hover_out {
    from {
        box-shadow: -1px -1px 2px rgba(var(--accent), 0.45),
        1px -1px 2px rgba(var(--accent), 0.45),
        -1px 1px 2px rgba(var(--accent), 0.45),
        1px 1px 2px rgba(var(--accent), 0.45);
    }
    to {
        box-shadow: -1px -1px 2px rgba(var(--accent), 0.0),
        1px -1px 2px rgba(var(--accent), 0.0),
        -1px 1px 2px rgba(var(--accent), 0.0),
        1px 1px 2px rgba(var(--accent), 0.0);
    }
}

/* header stuff - end */


/* footer stuff - start */

.footer:before {
    animation: none;
}

.footer {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;

    background-color: rgb(var(--mantle));

    left: 8px;
    bottom: 8px;
    width: calc(100% - 16px);
    max-width: 100%;
    height: 48px;

    border-style: wave;
    border-radius: 4px;
    animation: header_hover_in 0.3125s forwards;
}

.footer:hover {
    animation: header_hover_out 0.6125s forwards;
}

.socials {
    image-rendering: auto;
    color: rgb(var(--accent));
}

.socials img {
    margin: 4px;
    image-rendering: high-quality;
    image-resolution: from-image;
    animation: image_buttons_hover_out 0.3125s forwards;
}

.socials img:hover {
    animation: image_buttons_hover_in 0.6125s forwards;
}

@keyframes image_buttons_hover_in {
    from {
        color: rgb(var(--accent));
        box-shadow: -1px -1px 2px rgba(var(--accent), 0.0),
        1px -1px 2px rgba(var(--accent), 0.0),
        -1px 1px 2px rgba(var(--accent), 0.0),
        1px 1px 2px rgba(var(--accent), 0.0);
    }
    to {
        box-shadow: -1px -1px 2px rgba(var(--accent), 0.45),
        1px -1px 2px rgba(var(--accent), 0.45),
        -1px 1px 2px rgba(var(--accent), 0.45),
        1px 1px 2px rgba(var(--accent), 0.45);
    }
}

@keyframes image_buttons_hover_out {
    from {
        box-shadow: -1px -1px 2px rgba(var(--accent), 0.45),
        1px -1px 2px rgba(var(--accent), 0.45),
        -1px 1px 2px rgba(var(--accent), 0.45),
        1px 1px 2px rgba(var(--accent), 0.45);
    }
    to {
        box-shadow: -1px -1px 2px rgba(var(--accent), 0.0),
        1px -1px 2px rgba(var(--accent), 0.0),
        -1px 1px 2px rgba(var(--accent), 0.0),
        1px 1px 2px rgba(var(--accent), 0.0);
    }
}

/* footer stuff - end */
